/*mealsdetails.component.css*/

/* Set background color for the entire body */
.padding-40 {
    background-color: #E1EBEB;
  }
  
  /* Style for category images */
  .mealdetails_image {
    width: 500px;
    height: auto;
  }
  
  /* Style for each category item */
  .meal-item {
    text-align: center; /* Center-align text */
    border: 2px solid black; /* Border around each item */
    margin: 10px; /* Margin around each item */
    padding: 10px; /* Padding within each item */
  }
  
  /* Flex layout for categories */
  .pagemealdetail {
    display: flex; /* Display as flex container */
    flex-wrap: wrap; /* Wrap items to the next line if necessary */
    justify-content: center; /* Center-align items horizontally */
  }
  
  /* Font styles for heading, and category name */
  h2, .justify-content-start {
    font-family: Oswald, sans-serif; /* Set font family */
    text-align: center;
  }

  /* To center the text which is applied to this class */
  .text-center{
    text-align: center;
  }
  
  /* To specify a specific bottom margin and central alignment of the text within the element */
  .mb-4 {
    margin-bottom: 1.5rem; /* Add a lower margin of 1.5rem, you can adjust the size of the margin to suit your needs */
    text-align: center; /* The text inside the element will be aligned to the centre. */
  }

  /* Modify the style of unordered lists */
  ul {
    list-style-type: none; /* Deletes the bullets in front of each item in the list */
    padding: 0; /* Also removes the default padding from lists */
  }
  
  li {
    margin-bottom: 5px; /* Ajoute un espace entre chaque élément de la liste */
  }

  .recipe-line{
    white-space: pre-line; /* preserves spaces and line breaks in text */
  }

  /* Remove the top margin and top padding which are to 0. */
  /* This ensures that no extra space is added to the top of the element which has this class applied. */
  .no-margin-top {
  margin-top: 0;
  padding-top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  /* Sur la page où la barre de recherche est absente, écrasez la marge */
.page-without-search .body {
  margin-top: 0;
}
  