/*area.component.css*/

/* Set background color for the entire body */
.padding-40 {
    background-color: #E1EBEB;
  }
  
  /* Style for category images */
  .mealdetails_image {
    width: 500px;
    height: auto;
  }
  
  /* Style for each category item */
  .meal-item {
    text-align: center; /* Center-align text */
    border: 2px solid black; /* Border around each item */
    margin: 10px; /* Margin around each item */
    padding: 10px; /* Padding within each item */
  }
  
  /* Flex layout for categories */
  .pagemealdetail {
    display: flex; /* Display as flex container */
    flex-wrap: wrap; /* Wrap items to the next line if necessary */
    justify-content: center; /* Center-align items horizontally */
  }
  
  /* Font styles for heading, search bar, and category name */
  h2, .justify-content-start {
    font-family: Oswald, sans-serif; /* Set font family */
    text-align: center;
  }

  .text-center{
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem; /* Vous pouvez ajuster la taille de la marge selon vos besoins */
    text-align: center;
  }

  ul {
    list-style-type: none; /* Supprime les puces devant chaque élément de la liste */
    padding: 0; /* Supprime également le padding par défaut des listes */
  }
  
  li {
    margin-bottom: 5px; /* Ajoute un espace entre chaque élément de la liste */
  }

  .recipe-line {
    white-space: pre-line;
  }

  .no-margin-top {
  margin-top: 0;
  padding-top: 0;
}

  /* .search-bar {
    width: 300px;  Ajustez la largeur selon vos besoins 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  } */
  