/* header.component.css */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-text {
    margin-left: 10px; /* Ajoute une marge à gauche du texte du logo */
 
  }

  .header-container {
    display: flex;
    align-items: center;
  
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .Image1{
    max-width: 7%; /* Pour assurer que l'image ne dépasse pas la largeur de son conteneur */
    height: auto;
  }

 /* .TitreWebsite{
    font-family: ;
  }
  */