<!-- pagecategory.component.html -->

<div class="padding-40">
  <h2><div class="col-10 d-flex justify-content-start">
    Meals of {{ category }}&nbsp;category
  </div></h2>
    <br>
    <div class="pagecategory">
    <div class="row">
      <ng-container *ngFor="let meal of meals" class="meal-item">
        <!-- Commencez une nouvelle div pour chaque meal -->
        <div class="meal-item">
          <div class="col-2"></div>
          <!-- <a routerlin faire un lien vers la recette--> 
          <div class="col-10 d-flex justify-content-start">
            {{ meal.name }}&nbsp; <button class="custom-button" (click)="onButtonClick(meal.description)">See the recipe of {{ meal.name }}</button>
          </div>
          <br>
          <div class="col-2"></div>
          <div class="col-3 d-flex justify-content-start">
          </div>
          <!-- <div class="col-5">
            {{ meal.description }}
          </div> -->
          <div>
            <img [src]="meal.img" alt="{{ meal.name }}" class="meal-image">
          </div>
          <div class="col-2"></div>
        </div>
        <!-- Fin de la div pour chaque meal -->
      </ng-container>
    </div>
  </div>