<!-- category.component.html -->
<div>
  <app-search-bar (filterEvent)="SearchBarCat($event)"></app-search-bar>
  <h2>Toutes les catégories</h2>
  <div class="padding-25 bg-color-1">
    <div class="row">
      <ng-container *ngIf="filteredCategory.length > 0">
        <div class="col-3" *ngFor="let category of filteredCategory">
          <div class="category-item">
            <img [src]="category.img" alt="{{ category.name }}">
            <p>{{ category.name }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <br><br><br><br><br><br><br>
</div>


