/*category.component.css*/

/* Set background color for the entire body */
.body {
  background-color: #E1EBEB;
}

/* Style for category images */
.category-image {
  width: 500px;
  height: auto;
}

/* Style for custom button */
.custom-button {
  background-color: #48464d; /* Button background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

/* Button hover effect */
.custom-button:hover {
  background-color: #48464d;
}

/* Style for each category item */
.category-item {
  text-align: center; /* Center-align text */
  border: 2px solid black; /* Border around each item */
  margin: 10px; /* Margin around each item */
  padding: 10px; /* Padding within each item */
}

/* Flex layout for categories */
.cat {
  display: flex; /* Display as flex container */
  flex-wrap: wrap; /* Wrap items to the next line if necessary */
  justify-content: center; /* Center-align items horizontally */
}

/* Font styles for heading, search bar, and category name */
h2, .search-bar, .cat-name {
  font-family: Oswald, sans-serif; /* Set font family */
}
