<!-- about.component.html -->
<div>
    <h2>À propos de notre site internet et ses créateurs</h2>
    <p>Ce site internet a été créée par Louise Dumont, Klervi Muros-Le Rouzic et Jade Mouillot (étudiantes en M1 option e-Santé, Smart Energies et IoT).</p>
    <p>Vous pouvez y voir beaucoup de recettes pour vos prochains repas, trié par ordre alphabétique et aliments présents dans la recette.</p>
    <p>Nous voulions créer ce type de site pour vous donner de l'inspiration pour vos prochains repas, et ne pas manger la même chose tous les jours. Etant étudiantes, nous aavons vécu ça et ce n'est pas vraiment agréable.</p>
    <p>N'hésitez pas à naviguer sur notre site internet pour trouver votre bonheur!</p>
    <p>Nous vous souhaitons une bonne journée! Et de futurs bon repas!</p>
  </div>