<!-- about.component.html -->
<div>
    <h2>Our mission</h2>
    <p>We wanted to create this type of website to give you inspiration for your next meals, and not eat the same thing every day. </p> 
    <p>That's why, thanks to Globe Taste Adventures, you'll be able to find simple to more elaborate recipes that appeal to you, from the four corners of the world!
    Feel free to browse our website to find the dish that suits you.</p>

    <img src="assets/CarteMonde/CarteMonde.png" alt="Image de la map monde" class="Image2">
  
    <h2>Our history</h2>
    <p>This website was created by Louise DUMONT, Klervi MUROS-LE-ROUZIC and Jade MOUILLLOT (M1 students in e-Health, Smart Energies and IoT) at ISEN Yncrea Méditerranée in Toulon.</p>
    <p>As students, preparing food and eating healthily are often incompatible due to lack of time or desire, and eating pasta with tomato sauce all the time isn't exactly pleasant. And yet we love cooking and creating new dishes while discovering new cultures. So this website is a mix of passions and we hope it will be useful to you in your next recipes!</p>


    <h2>Contact us</h2>
    <p>For more information, don't hesitate to contact us at our email address: globeTasteAdventures4life@gmail.com or on our social networks!</p>
    <img src="assets/Mail/Mail.png" alt="logo mail">
    <img src="assets/Instagram/Instagram.png" alt="logo insta">
    <img src="assets/Facebook/Facebook.png" alt="logo fb">
    <img src="assets/Linkedin/Linkedin.png" alt="logo linkedin">


  </div>

