<body class="background">
  <h2>Our mission</h2>
  <p class="mission-text">
  We created this website to inspire your next meals and break the monotony of everyday dining.
  Thanks to Globe Taste Adventures, discover a variety of recipes from around the world, ranging from simple to sophisticated!
  </p>

  <img src="assets/CarteMonde/CarteMonde.png" alt="CarteMonde" class="CarteMonde-container">
  
  <h2>Our history</h2>

  <p class="mission-text">
  This website was created by Louise DUMONT, Klervi MUROS-LE-ROUZIC, and Jade MOUILLLOT, M1 students in e-Health, Smart Energies, and IoT at ISEN Yncrea Méditerranée in Toulon.
  As students, balancing healthy eating and busy schedules is a challenge. This website is a fusion of our passion for cooking and exploring new cultures. We hope it inspires your next culinary adventures!
  </p>

  <h2>Contact us</h2>
  

  <p class="mission-text">
  For more information, feel free to contact us via email: globeTasteAdventures4life@gmail.com or on our social networks!
  </p>
  
  <div class="image">
    <img src="assets/Mail/Mail.png" alt="Mail" width="40px">&nbsp;
    <img src="assets/Instagram/Instagram.png" alt="Insta" width="40px">&nbsp;
    <img src="assets/Facebook/Facebook.png" alt="Fb" width="40px">&nbsp;
    <img src="assets/Linkedin/Linkedin.png" alt="Linkedin" width="40px">&nbsp;
  </div>
  
</body>