.body{
   
    background-color: #E1EBEB;
  }




.about-container {
    font-size: 150%;
    font-family: 'Oswald', sans-serif;
}

.mission-heading {
    font-family: 'Oswald', sans-serif; /* Applique la police Oswald uniquement au titre "Our mission" */
    /* Ajoutez d'autres styles spécifiques au titre si nécessaire */
}


.mission-text {
    font-family: 'Diphylleia', sans-serif;
}


  .CarteMonde-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    max-width: 100%; /* Pour assurer que le conteneur ne dépasse pas la largeur de son parent */
    height: 100%; /* Pour occuper 100% de la hauteur de la fenêtre (viewport height) */
  }


.CarteMonde{
    max-width: 70%; /* Pour assurer que l'image ne dépasse pas la largeur de son conteneur */
    height: auto;
  }

.Mail-container, 
.Insta-container,
.Fb-container,
.Linkedin-container {
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    max-width: 30%; /* Pour assurer que le conteneur ne dépasse pas la largeur de son parent */
    height: 100%; /* Pour occuper 100% de la hauteur de la fenêtre (viewport height) */
    margin: 0 20px; 

  }

  .Mail, 
  .Insta,
  .Fb,
  .Linkedin {
    max-width: 100%; /* Pour assurer que l'image ne dépasse pas la largeur de son conteneur */
    height: auto;
  }





