/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* Réinitialiser les marges et paddings par défaut */
* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles spécifiques pour le header */
  .header {
    margin-bottom: 20px; /* Ajoutez la marge souhaitée entre le header et le composant "about" */
  }
  
  /* Styles spécifiques pour le composant "about" */
  .about-component {
    margin-top: 20px; /* Ajoutez la marge souhaitée entre le header et le composant "about" */
    margin-bottom: 20px; /* Ajoutez la marge souhaitée entre le composant "about" et le footer */
  }

  .mealsdetails-component {
    margin-top: 20px; /* Ajoutez la marge souhaitée entre le header et le composant "about" */
    margin-bottom: 20px; /* Ajoutez la marge souhaitée entre le composant "about" et le footer */
  }
  
  /* Styles spécifiques pour le footer */
  .footer {
    margin-top: 20px; /* Ajoutez la marge souhaitée entre le composant "about" et le footer */
  }
  
  /* Styles pour le texte général (par exemple, dans les paragraphes) */
  body {
    margin: 10px; /* Vous pouvez ajuster cela en fonction de vos préférences pour le texte */
  }