/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* Reset default margins and paddings */
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

/* Specific styles for the header */
.header {
  margin-bottom: 20px; /* Add the desired margin between the header and the "about" component */
}

/* Specific styles for the "about" component */
.about-component {
  margin-top: 0px; /* Add the desired margin between the header and the "about" component */
  margin-bottom: 0px; /* Add the desired margin between the "about" component and the footer */
}

/* Specific styles for the "mealsdetails" component */
.mealsdetails-component {
  margin-top: 0px; /* Add the desired margin between the header and the "about" component */
  margin-bottom: 0px; /* Add the desired margin between the "about" component and the footer */
}

/* Specific styles for the footer */
.footer {
  margin-top: 20px; /* Add the desired margin between the "about" component and the footer */
}

/* Styles for general text (e.g., in paragraphs) */
body {
  margin: 10px; /* You can adjust this based on your preferences for text */
}