<!-- area.component.html -->
<div class="padding-25 bg-color-1">
    <div class="row">
      <div class="col-12 d-flex justify-content-center f-large padding-b-25">
        <span class="titre">Areas</span>
      </div>
      <div class="row">
        <ng-container *ngIf="areas.length > 0">
          <div class="col-3" *ngFor="let area of areas">
            <div class="area-item">
              <img [src]="area.imageSrc" alt="{{ area.name }}">
              <p>{{ area.name }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  