<div class="padding-25 bg-color-1">
  <app-search-bar (filterEvent)="SearchBarArea($event)"></app-search-bar>
  <br>
  <div class="row">
    <ng-container *ngIf="filteredArea.length > 0">
      <div class="col-3" *ngFor="let area of filteredArea" class="area-item">
        <img [src]="area.imageSrc" alt="{{ area.name }}" class="area-image">
        <p>{{ area.name }}
          <button style="margin-left: 10px;" class="custom-button"(click)="onClick(area)">{{ area.buttonLabel }} </button>
        </p>       
      </div>
    </ng-container>
  </div>
  <br><br><br><br><br><br><br>
</div>