/* area.component.css */
:host{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer horizontalement */
  background-color: #E1EBEB;
}

.area-image {
  width: 500px;
  height: auto; 
  justify-content: center;
}

.custom-button {
  background-color: #48464d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #48464d;
}

.area-item{
  text-align: center; /* Centrer le contenu à l'intérieur de chaque meal-item */
  border: 2px solid black;
  margin: 10px; 
  padding: 10px;
}
