/* area.component.css */
.area-image {
  width: 500px; /* ajuste la valeur selon tes besoins */
  height: auto; /* ceci garantit que la hauteur est ajustée en proportion de la largeur */
  /* ou tu peux utiliser seulement width avec une valeur en pourcentage comme width: 50%; pour une taille relative */
}

.custom-button {
  background-color: #48464d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #48464d;
}

.area-item{
  text-align: center; /* Centrer le contenu à l'intérieur de chaque meal-item */
  border: 2px solid black;
  margin: 10px; 
  padding: 10px;
}