/* home.component.css */

/* Styling for the host element (component container) */
:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center content */
  background-color: #E1EBEB; /* Background color */
}

/* Styling for each meal item */
.meal-item {
  text-align: center; /* Center the content inside each meal-item */
  border: 2px solid black; /* Border around each item */
  margin: 10px; /* Margin around each item */
  padding: 10px; /* Padding within each item */
}

/* Styling for meal images */
.meal-image img {
  max-width: 25%; /* Ensure the image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Center the image */
  margin: 0 auto; /* Center the image horizontally */
}

/* Styling for meal names */
.meal-name {
  font-size: 150%; /* Font size */
  font-family: Oswald, sans-serif; /* Font family */
}

/* Styling for meal descriptions */
.meal-desc {
  font-family: Diphylleia, sans-serif; /* Font family */
}

/* Styling for heading and search bar */
h2, .search-bar {
  font-family: Oswald, sans-serif; /* Font family */
}
