/* home.component.css */
:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ou 'space-around' selon la préférence */
  }
  
  .meal-item {
    flex-basis: calc(33.333% - 10px); /* Ajuste la largeur en fonction du nombre d'éléments par ligne */
    margin-bottom: 20px;
  }
  
  .meal-item img {
    max-width: 30%;
    height: auto;
  }
  