<div>
  <app-search-bar class="search-bar" (filterEvent)="SearchBar($event)"></app-search-bar>
  <h2>All recipes</h2>
  <div class="padding-25 bg-color-1">
    <div class="row">
      <div *ngFor="let meal of filteredMeals" class="meal-item">
        <br>
        <strong class="meal-name">{{ meal.name }}</strong>
        <p class="meal-desc">{{ meal.description }}</p>
        <div class="meal-image">
          <img [src]="meal.img" alt="{{ meal.name }}">
        </div>
      </div>
    </div>
  </div>
</div>
