/* home.component.css */

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer horizontalement */
  background-color: #E1EBEB;
}

.meal-item {
  text-align: center; /* Centrer le contenu à l'intérieur de chaque meal-item */
  border: 2px solid black;
  margin: 10px; 
  padding: 10px;
  
}

.meal-image img {
  max-width: 25%; /* Pour assurer que l'image ne dépasse pas la largeur de son conteneur */
  height: auto;
  display: block; 
  margin: 0 auto;
}

.meal-name{
  font-size: 150%;
  font-family: Oswald;
}

.meal-desc{
  font-family: Diphylleia;
}

.search-bar{
  font-family: Oswald;
}

h2{
  font-family: Oswald
}